<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <?xml version="1.0" encoding="UTF-8"?>
        <servlet>
            <description></description>
            <display-name>Login</display-name>
            <servlet-name>Login</servlet-name>
            <servlet-class>com.gameproject.gameproject.gestioncompte.Login</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Login</servlet-name>
            <url-pattern>/Login</url-pattern>
        </servlet-mapping>
        <display-name>firstApp</display-name>
        <welcome-file-list>
            <welcome-file>Home.jsp</welcome-file>
        </welcome-file-list>
        <servlet>
            <description></description>
            <display-name>Signup</display-name>
            <servlet-name>Signup</servlet-name>
            <servlet-class>com.gameproject.gameproject.gestioncompte.Signup</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Signup</servlet-name>
            <url-pattern>/Signup</url-pattern>
        </servlet-mapping>
        <servlet>
            <description></description>
            <display-name>Game</display-name>
            <servlet-name>Game</servlet-name>
            <servlet-class>com.gameproject.gameproject.gestionjeu.Game</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Game</servlet-name>
            <url-pattern>/Game</url-pattern>
        </servlet-mapping>
        <servlet>
            <description></description>
            <display-name>Logout</display-name>
            <servlet-name>Logout</servlet-name>
            <servlet-class>com.gameproject.gameproject.gestioncompte.Logout</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Logout</servlet-name>
            <url-pattern>/Logout</url-pattern>
        </servlet-mapping>

</web-app>